<h1>Welcome to PlantSpot: a place to talk about plants!</h1>

<div class="row">
  <% if logged_in? %>
      <aside>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
    <% else %>
      <div>
        <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
      </div>
  <% end %>
  
  <div class="col-md-8">
    <h3>Community Feed</h3>
    <%= render 'shared/all_posts' %>
  </div>
</div>

