<h1>Welcome to PlantSpot: a place to talk about plants!</h1>

<% if logged_in? %>
    <div class="row">
      <aside>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Your Microposts</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  <% else %>
    <div>
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
