<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>
      <h2>
        <p><strong>Name:</strong> Diana Johnson</p>
        <p><strong>Location:</strong> San Francisco</p>
        <p><strong>About:</strong> Diana loves plants!</p>
      </h2>
    </section>
  </aside>
</div>